page-login {
    .vertical-align > * {
        background: #31A8E4;
        color: #ffffff;
        padding: 10px;
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }
}
